/* SWATCHES ---------------------------------------------------------------------- */

span.cm-attribute	{ color: #678CB1; }
span.cm-builtin     { color: #16d3ea; }
span.cm-def			{ color: #B69C00; }
span.cm-header      { color: #16d3ea; }
span.cm-qualifier	{ color: #678CB1; }
span.cm-variable	{ color: #9F8FEA; }
span.cm-variable-2	{ color: #2FCF9F; }
span.cm-variable-3	{ color: #be9cff; }

span.cm-atom		{ color: #ccaaff; }
span.cm-link		{ color: #ae81ff; }
span.cm-string		{ color: #EC7600; }
span.cm-string-2    { color: #EC7600; }

span.cm-meta		{ color: #7fb0ff; }
span.cm-property	{ color: #E2BF3F; }
span.cm-tag			{ color: #93C763; }

span.cm-comment		{ color: #7D8C93; }
span.cm-error {
    background: #ff3292;
    color: #f8f8f0;
}
span.cm-keyword		{ color: #93C763; }
span.cm-operator	{ color: inherit; }

span.cm-number		{ color: #ff7272; }

span.cm-bracket		{ color: #f8f8f8; }


/* MISC ---------------------------------------------------------------------- */


.CodeMirror {
    background: #293134;
    color: #f8f8f8;
    line-height: 1.4;
    font-size: 18px !important;
}

.CodeMirror-scroll {
    background: #293134;
    color: #f8f8f8;
}

.CodeMirror-cursor {
    border-left: 2px solid #00e2ff !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #00e2ff !important;
    border-left: none !important;
}

.CodeMirror-gutters
{
    background-color: #293134;
    border-right: 1px solid #444;
}

.CodeMirror-linenumber {
    background-color: #293134;
    color: #81969A;
}

.CodeMirror-selected {
    background: #804000 !important;
}

/* Matching */


.CodeMirror-matchingbracket {

    background: transparent !important;
    border-bottom: 3px solid #FF8F3F !important;
    border:1pt solid #FF8F3F;
    border-radius:0.5em;
    color: #fff !important;
}

.CodeMirror-matchingtag {
    background: transparent !important;
    border-bottom: 2px solid #FF8F3F !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
    color: #ff0076 !important;
}

.CodeMirror-activeline-background {
    background: #3b3b3e !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    color: #fff;
    background-color: #2e2e31;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
    color: #fff;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #2e2e31;
}

#image-holder {
    color: #d9d9d9;
}
